body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ul {
  padding: 0px !important;
}

.row{
  max-width: 100%;
}

/* ----- NAVIGATION BAR AND LOGO ----- */

.navbar{
  background-color: #38B6FF;
  color: #000000;
  text-transform: uppercase;
  font-size: 17px;
}

.navbar-brand{
  margin-left: 5%;
}

.navbar-brand img{
  height: 50px;
  margin-left: 5%;
}

/* ----- SLIDES OF SITE ----- */

button.slick-prev {
  font-size: 0;
  border: none;
  height: 55px;
  width: 55px;
  background-color: transparent;
  background-image: url("../images/icons/ic_prev_arrow.png");
  position: absolute;
  z-index: 9;
  top: 341px;
  left: 15%;
}

button.slick-next {
  font-size: 0;
  border: none;
  height: 55px;
  width: 55px;
  background-color: transparent;
  background-image: url("../images/icons/ic_next_arrow.png");
  position: absolute;
  z-index: 9;
  top: 341px;
  right: 15%;
}

.slider-principal {
  width: 100%;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  float: left;
  position: absolute;
  left: 25%;
  top: 674px;
  text-align: center;
}

.slick-dots li {
  padding-left: 12px;
  display: inline-block;
}

.slick-dots li button {
  font-size: 0em;
  border: 3px solid #fff;
  border-radius: 50%;
  outline: none;
  width: 18px;
  height: 18px;
  background-color: rgb(153, 153, 153);
}

li.slick-active button {
  background-color: #38b6ffb4;
}

.slick-initialized {
  overflow: hidden;
}

/* ----- TEXT IN DESTAK ----- */

.text-destak {
  padding: 25px;
  text-transform: uppercase;
  color: #7c7c7c;
  text-align: center;
}

.text-destak p {
  font-size: 18px;
  text-transform: capitalize;
  color: #a0a0a0;
}

.text-block {
  margin-top: 15px;
}

#center-card {
  margin-top: 60px;
}

/* ----- things AREA ----- */

.separate {
  width: 90%;
  margin-left: 5%;
  height: 27px;
  border-bottom: 3.5px solid #38B6FF;
  text-align: center;
}

.separate img {
  width: 47px;
}

/* ----- SOCIAL_DOWNLOAD AREA ----- */

.things{
  margin-top: 25px;
  width: 95%;
  padding-left: 10%;
  padding-bottom: 30px;
}

.social_download{
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

.social_download h3{
  margin-bottom: 23px;
}

.social_download .btn_download {
  text-align: left;
  margin-left: 8em;
  padding-bottom: 10px;
}

.social_download .social{
  margin-top: 50px;
}

.fa {
  padding-top: 10px;
  text-decoration: none!important;
  font-size: 30px!important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  /* text-decoration: none; */
  background: #3B5998;
  color: white;
}

.fa-twitter {
  /* text-decoration: none; */
  background: #55ACEE;
  color: white;
}

/* ----- Form to contact us----- */

.col h3{
  padding: 3px;
  margin-left: 30%;
  margin-bottom: 20px;
}

.form-group label{
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}

/* ----- FOOTER ----- */

footer{
  font-size: 16px;
  text-align: center;
  color: #a0a0a0;
  text-decoration: none;
  background-color: #1a1a1a;
  margin-top: 19px;
}